@charset "UTF-8";
/* CSS Document */

body {
color: rgba(145,255,174,1.00);
background: rgba(255,255,255,1);	
}

h1 {
	color:black;
}

p {
	color:pink;
}

li {
	color:red;
}
a {
	color:white;
}

#header {
	background-color:rgba(255,255,255,1.00);
}

#footer{
	background-color:rgba(255,255,255,0.5);
}
/*applying invisible comment*/
#content p {
	color:dark-pink;
	background-color:rgba(255,255,255,0.5)
}
